@model TestDocker.ViewsModels.BrandViewModel


<h1>@Model.Name</h1>
<h2>Коллекции</h2>
<div class="card-body">
    <div class="card card-body">

        @foreach (BrandCollection brandCollection in Model.BrandCollections)
        {
            <div class="container-fluid">
                <div class="row m-1">
                    <div class="col-1">
                        <a>
                            @brandCollection.Id
                        </a>
                    </div>
                    <div class="col-3">
                        <a asp-controller="Nomenclature"
                           asp-action="BrandCollectionDetails"
                           asp-route-id="@brandCollection.Id"
                           title="Добавить изделия">
                            @brandCollection.Name
                        </a>
                    </div>
                    <div class="col-7">
                        <a class="btn btn-sm btn-primary" asp-controller="Nomenclature"
                           asp-action="DeleteBrandCollection" asp-route-id="@brandCollection.Id">Удалить</a>
                    </div>
                </div>

            </div>
        }
        <form asp-action="CreateBrandCollection" asp-controller="Nomenclature" asp-route-Id="@Model.Id">
            <div class="form-group m-3">
                <label class="control-label">Название</label>
                <input type="text" asp-for="BrandCollectionName"   class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить коллекцию" class="btn btn-default" />
            </div>
        </form>
    </div>
    </div>