@model TestDocker.ViewsModels.EditNomenclatureViewModel
<div class="container-fluid">
    @{
        List<string> BrandCollNames = new List<string>();
        List<int> BrandColldId = new List<int>();
        List<int> BrandId = new List<int>();

        List<string> FurnitureNames = new List<string>();
        List<int> FurnitureNamesId = new List<int>();
        List<int> FurnitureNameBrandColldId = new List<int>();
        
        List<string> FinishingNames = new List<string>();
        List<int> FinishingId = new List<int>();
        List<int> FinishingBrandColldId = new List<int>();

    }
    @foreach (var item in Model.BrandCollectionBrandNameViewModels)
    {
        BrandCollNames.Add(item.Name);
        BrandColldId.Add(item.Id);
        BrandId.Add(item.BrandId);
    }
    

    @foreach(var item  in Model.FurnitureNameViewModels)
    {
        FurnitureNames.Add(item.Name);
        FurnitureNamesId.Add(item.Id);
        FurnitureNameBrandColldId.Add(item.CollectionId);
    }
    
    @foreach(var item  in Model.FinishingViewModels)
    {
        FinishingNames.Add(item.Name);
        FinishingId.Add(item.Id);
        FinishingBrandColldId.Add(item.CollectionId);
    }

    <script>
        var BrandCollNames = @Json.Serialize(BrandCollNames);
        var BrandCollId = @Json.Serialize(BrandColldId);
        var BrandId = @Json.Serialize(BrandId);

        var FurnitureNames = @Json.Serialize(FurnitureNames);
        var FurnitureNamesId = @Json.Serialize(FurnitureNamesId);
        var FurnitureNameBrandColldId = @Json.Serialize(FurnitureNameBrandColldId);

        var FinishingNames = @Json.Serialize(FinishingNames);
        var FinishingId = @Json.Serialize(FinishingId);
        var FinishingBrandColldId = @Json.Serialize(FinishingBrandColldId);
    </script>

    <div class="row">
        <button type="button"
                class="btn btn-outline-success btn-sm m-0"
                data-toggle="modal"
                data-target="#productModal"
                onclick="resetselect1(); resetselect2(); resetselect3(); resetselect4(); resetselect5();">
            AddProduct
        </button>
        <form asp-controller="Product"
              asp-action="CreateProduct">
            <div class="modal fade" id="productModal" tabindex="-1"
                 data-backdrop="static"
                 role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="exampleModalLabel">
                                Add Product
                            </h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div hidden class="modal-brandid">
                            <input required asp-for="BrandId" type="text" />
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-product">
                            </h5>
                            <div class="form-group">
                                <label class="mdb-main-label m-2">Brand</label>
                                <select id="seltest1" required
                                        onchange="BrandCollectionFilter();"
                                        class="form-control">
                                    <option value="" disabled selected>select brand</option>
                                    @foreach (var item in Model.Brands)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>

                                <label id="lab2" class="mdb-main-label m-2">Collection</label>
                                <select id="seltest2" required
                                        class="form-control"
                                        onchange="FurnitureNameFilter(); FinishingFilter();">
                                    <option value="" disabled selected>select collection</option>
                                </select>
                                <label id="lab3" class="mdb-main-label m-2">FurnitureName</label>
                                <select id="seltest3" required onchange="productHeader();"
                                        class="form-control">
                                    <option value="" disabled selected>select furniture</option>
                                </select>
                                <label id="lab4" class="mdb-main-label m-2">Finishing</label>
                                <select id="seltest4" required onchange="productHeader();"
                                        class="form-control">
                                    <option value="" disabled selected>select finish</option>
                                </select>

                                <label id="lab4" class="mdb-main-label m-2">Type</label>
                                <select id="seltest5" required onchange="productHeader();"
                                        class="form-control">
                                    <option value="" disabled selected>select type</option>
                                    @foreach (var item in Model.FurnitureTypes)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>

                            </div>


                            <label class="mdb-main-label">ComeDocumentName</label>
                            <input required asp-for="BrandCollectionName"
                                   class="form-control" 
                                   type="text" formmethod="post" />

                            <label class="mdb-main-label">ComePrice</label>
                            <input required asp-for="BrandCollectionName"
                                   class="form-control"
                                   type="number" formmethod="post" />

                            <label class="mdb-main-label">Quantity</label>
                            <input required asp-for="BrandCollectionName"
                                   class="form-control"
                                   type="number" formmethod="post" />

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-outline-success btn-sm m-0" value="AddProduct" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>