@model TestDocker.ViewsModels.EditNomenclatureViewModel


    <table class="table-sm table-striped table-responsive-md btn-table">

        <thead>
            <tr>
                <th colspan="5" class="text-center">Collections</th>
            </tr>
            <tr>
                <td>Brand.Collection</td>
            </tr>
            @foreach (var item in Model.ProductVMs)
            {
                <tr>
                    <td>@item.Brand</td>
                    <td>@item.BrandCollection</td>
                    <td>@item.FurnitureName</td>
                    <td>@item.Finishing</td>
                    <td>@item.FurnitureType</td>
                    <td>@item.AmountStock</td>
                    <td>@item.SumPrice</td>
                </tr>
            }
        </thead>
        <tbody>

        </tbody>
    </table>