@model TestDocker.ViewsModels.EditNomenclatureViewModel

<div class="container-fluid mt-2 mb-2">

    <table id="table"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-toolbar="#toolbar"
           data-advanced-search="true"
           data-id-table="advancedTable"
           data-filter-control="true"
           data-filter-show-clear="true">
        <thead>
            <tr>
                <th data-field="brand" data-sortable="true" data-filter-control="select">Brand</th>
                <th data-field="brandcollection" data-sortable="true" data-filter-control="select">BrandCollection</th>
                <th data-field="furniturename" data-sortable="true" data-filter-control="select">FurnitureName</th>
                <th data-field="finishing" data-sortable="true" data-filter-control="select">Finishing</th>
                <th data-field="furnituretype" data-sortable="true" data-filter-control="select">FurnitureType</th>
                <th data-field="amountstock" data-sortable="false">AmountStock</th>
                <th data-field="sumprice" data-sortable="false">SumPrice</th>
            </tr>
        </thead>

        @foreach (var item in Model.ProductVMs)
        {
            <tr>
                <td tabindex="brand">@item.Brand</td>
                <td tabindex="brandcollection">@item.BrandCollection</td>
                <td tabindex="furniturename">@item.FurnitureName</td>
                <td tabindex="finishing">@item.Finishing</td>
                <td tabindex="furnituretype">@item.FurnitureType</td>
                <td tabindex="amountstock">@item.AmountStock</td>
                <td tabindex="sumprice">@item.SumPrice</td>
            </tr>
        }
    </table>
</div>
