@model TestDocker.ViewsModels.EditNomenclatureViewModel
<table class="table-sm table-striped table-responsive-md btn-table">

    <thead>
        <tr>
            <th colspan="5" class="text-center">Collections</th>
        </tr>
        <tr>
            <td>Brand.Collection</td>
        </tr>
    </thead>
    <tbody>
        @foreach (BrandCollectionBrandNameViewModel brandCollection in Model.BrandCollectionBrandNameViewModels)
        {
        <tr>
            <td>@brandCollection.BrandName.@brandCollection.Name</td>
            <td>
                <button type="button"
                        class="btn btn-indigo btn-sm m-0"
                        data-toggle="modal"
                        data-brandcollname="@brandCollection.Name"
                        data-collectionid="@brandCollection.Id"
                        data-target="#BrandCollectionModal">
                    AddFurName
                </button>
                <form asp-controller="Nomenclature"
                      asp-action="CreateFurName" method="post">
                    <div class="modal fade" id="BrandCollectionModal" tabindex="-1"
                         role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>
                                        AddFurName
                                    </h5>

                                    <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div hidden class="modal-brandcollid">
                                    <input required asp-for="BrandCollectionId" type="text" />
                                </div>
                                <div class="modal-body">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">
                                        Modal title
                                    </h5>
                                    <input required asp-for="FurName"
                                           class="form-control"
                                           type="text" formmethod="post" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-blue-grey btn-sm m-0" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-indigo btn-sm m-0" value="AddFurName" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>                
            </td>
            <td>
                <button type="button"
                        class="btn btn-indigo btn-sm m-0"
                        data-toggle="modal"
                        data-brandcollname="@brandCollection.Name"
                        data-collectionid="@brandCollection.Id"
                        data-target="#BrandCollectionFinishing">
                    AddFinishing
                </button>
                <form asp-controller="Nomenclature"
                      asp-action="CreateFinishing" method="post">
                    <div class="modal fade" id="BrandCollectionFinishing" tabindex="-1"
                         role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>
                                        AddFinishing
                                    </h5>
                                    
                                    <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div hidden class="modal-brandcollid">
                                    <input required asp-for="BrandCollectionId" type="text" />
                                </div>
                                <div class="modal-body">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">
                                        
                                    </h5>
                                    <input required asp-for="FinishingName"
                                           class="form-control"
                                           type="text" formmethod="post" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-blue-grey btn-sm m-0" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-indigo btn-sm m-0" value="AddFinishing" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
            <td>
                <a class="btn btn-red btn-sm m-0"  
                   asp-controller="Nomenclature"
                   asp-action="DeleteBrandCollection"
                   asp-route-id="@brandCollection.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
