@model IEnumerable<TestDocker.ViewsModels.ProductSoldVM>

    <form asp-controller="Analytics" asp-action="Analytics" method="post">
        <label for="start">Start date:</label>

        <input name="fitstdateTime" type="date" id="start" required
               value="2020-08-22"
               min="2020-08-20" max="@DateTime.Now">

        <label for="start">End date:</label>

        <input name="seconddateTime" type="date" id="start" required               
               min="2020-08-21" max="@DateTime.Now">
        <input  type="submit"/>
    </form>
    <div class="container-fluid mt-2 mb-2">
        <h4>List Product: <span class="badge badge-secondary">Sold</span></h4>

        <table id="table1"
               data-toggle="table"
               data-pagination="true"
               data-search="true"
               data-show-columns="true"
               data-show-toggle="true"
               data-advanced-search="true"
               data-id-table="advancedTable"
               data-filter-control="true"
               data-filter-show-clear="true"
               data-detail-view="true"
               data-detail-formatter="detailFormatter"
               data-show-footer="true">
            <thead>
                <tr>
                    <th data-field="brand" data-sortable="true" data-filter-control="select">Brand</th>
                    <th data-field="brandcollection" data-sortable="true" data-filter-control="select">BrandCollection</th>
                    <th data-field="furniturename" data-sortable="true" data-filter-control="select">FurnitureName</th>
                    <th data-field="finishing" data-sortable="true" data-filter-control="select">Finishing</th>
                    <th data-field="furnituretype" data-sortable="true" data-filter-control="select">FurnitureType</th>

                    <th data-field="buyername" data-sortable="true" data-filter-control="select">BuyerName</th>

                    <th data-field="giveoutdatatime" data-filter-control="select">GiveoutDataTime</th>
                    <th data-field="comeprice" data-sortable="false">comeprice</th>
                    <th data-field="comesumprice" data-sortable="false" data-footer-formatter="sumpriceFormatter">comesumprice</th>
                    <th data-field="giveoutprice" data-sortable="false">giveoutprice</th>
                    <th data-field="giveoutsumprice" data-sortable="false" data-footer-formatter="sumpriceFormatter">giveoutsumprice</th>
                </tr>

            </thead>

            @foreach (var item in Model)
            {

                <tr>
                    <td tabindex="brand">@item.Brand</td>
                    <td tabindex="brandcollection">@item.BrandCollection</td>
                    <td tabindex="furniturename">@item.FurnitureName</td>
                    <td tabindex="finishing">@item.Finishing</td>
                    <td tabindex="furnituretype">@item.FurnitureType</td>

                    <td tabindex="buyername">@item.BuyerName</td>

                    <td tabindex="giveoutprice">@item.GiveOutDataTime</td>

                    <td tabindex="comeprice">@item.ComePrice</td>
                    <td tabindex="comesumprice">@item.ComeSumPrice</td>

                    <td tabindex="giveoutprice">@item.GiveOutPrice</td>
                    <td tabindex="giveoutsumprice">@item.GiveOutSumPrice</td>
                </tr>

            }
        </table>
    </div>


